
//Variables de Paletas de Colores

//paleta portfolio
$portwhite:#F2F2F2;
$portbrown:#594D43;
$portbrownie:#73675A;
$portgrey:#262626;
$portblack:#0D0D0D;



// Basicos
$negrito: #000000;
$blanquito: #ffffff;
$gris: #c0c0c0
;