<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--Responsive Tag-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--SEO-->
        <!--Keywords no mas de 5 a 8-->
        <meta name="keywords" content="Desarrollo, Web, Sitio, portfolio, trabajos, realizados, experiencias, usuario">
        <!--Meta Description-->
        <meta name="description" content="Conoce los trabajos que realizamos.">
        <title>Portfolio - SiteMakers</title>
    
        <!--Vinculamos el MediaQueries-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!--Aplicando el FAVICON.ico-->
        <link rel="apple-touch-icon" sizes="180x180" href="../img/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/icons/favicon-16x16.png">
        <link rel="manifest" href="../img/site.webmanifest">
    
        <!--BootStrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
    
        <!--Link de Estilos-->
        <link rel="stylesheet" href="../css/style.css" type="text/css">
    
        
        <!--Fuentes de Google-->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Battambang:wght@700&family=Josefin+Sans&family=Koulen&family=Lora&family=Nunito:wght@200&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
            </style>
    
    </head>
<body>
    <header>


        <h1 class="title">SiteMakers</h1> <!--Titulo para todos los html-->
        <h2 class="slogan">Diseñamos tu sitio desde cero, y lo subimos a la web.</h2> <!--Slogan para todos los html-->

        
        <!--Links-->
        <nav class="links">
            <a href="../index.html">Inicio</a>
            <a href="us.html">Nosotros</a>
            <a href="portfolio.html">Sitios diseñados</a>
            <a href="services.html">Nuestros Servicios</a>
            <a href="contact.html">Contacto</a>   
        </nav>
        
        </header>

    <main>

        <section class="sitios">
            <h3>Nuestros trabajos</h3>
            <p>Aca van a poder conocer un poco acerca de los sitios que hemos desarrollado con el paso del tiempo. nuestras politicas solo nos permiten mostrar los sitios que el Cliente apruebe para ser mostrados como parte de nuestro portfolio.</p>
        </section>

        <section class="cards">
            <div class="panel active" style="background-image: url('../img/sites/lion.jpg')">
                <h3>Lion Xpress<br>Lion Xpress es un sitio de servicios de logistica y seguimiento de pedidos, la misma trabaja para grandes corportivas como Dafiti.</h3>
            </div>
            
            <div class="panel" style="background-image: url('../img/sites/mateo.jpg');">
                <h3>Mateo Automotores <br>Mateo Automotores es una de las agencias que decidio confiar en nosotros para el desarrollo de su sitio, con mas de 100.000 autos vendidos en el pais.</h3>
            </div>

            <div class="panel" style="background-image: url('../img/sites/Spotickets.jpg');">
                <h3>Spotickets <br> Spotickets es una web app online que permite no solo escuchar las mejores playlist, sino tambien sacar entradas para los proximos conciertos en el pais.</h3>
            </div>

            <div class="panel" style="background-image: url('../img/sites/site.jpg');">
                <h3>SiteMakers Preliminar Version <br> No podiamos faltar para ponernos de ejemplo, este fue nuestro pequeño proyecto que nacio de un espacio vacio en negro, y se remodelo para ser lo que hoy es.</h3>
            </div>

        </section>


    </main>

    <footer>
   
        <section> <!--Caja Contenedora del Footer-->
            <!--Por separado activamos rights a la izquierda centrado-->
            <p class="rights" >Matias Montenegro - Todos los derechos reservados 2022®</p>
            <!--Redes sociales que tienen que quedar una abajo de la otra por la derecha-->
            <section class="redes">
                <p><img src="../img/icons/icons8-instagram-64.png" alt="instagram icon">Instagram: <a href="https://instagram.com/SiteMakers"> @SiteMakers</a></p>
                <p><img src="../img/icons/icons8-facebook-64.png" alt=" Facebook icon">Facebook: <a href="https://facebook.com/SiteMakers">Site Makers</a></p>
                <p><img src="../img/icons/icons8-twitter-64.png" alt="twitter icon">Twitter: <a href="https://twitter.com/SiteMakers">@SiteMakers</a></p>
                <p><img src="../img/icons/icons8-whatsapp-64.png" alt="Whatsapp icon"><a href="https://api.whatsapp.com/send?phone=5491139224610&text=Hola!, estoy interesado en hablar con un representante." style="display: inline-block; padding:16px; background-color:none ; color: #ffffff; font-size: 16px;">Escribinos por WhatsApp</a></p>
        </section>
    
    </footer>
    
        </body>
<!--Importamos JavaScript-->
<script src="../js/app.js" integrity="" crossorigin="anonymous"></script>
</html>