<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--Responsive Tag-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--SEO-->
        <!--Keywords no mas de 5 a 8-->
        <meta name="keywords" content="Desarrollo, Web, Sitio, Servicios, Contratar, Planes, Comprar, Diseño">
        <!--Meta Description-->
        <meta name="description" content="Descubri los mejores servicios que ofrecemos.">
        <title>Servicios - SiteMakers</title>
    
        <!--Vinculamos el MediaQueries-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!--Aplicando el FAVICON.ico-->
        <link rel="apple-touch-icon" sizes="180x180" href="../img/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/icons/favicon-16x16.png">
        <link rel="manifest" href="../img/site.webmanifest">
    
        <!--BootStrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
    
        <!--Link de Estilos-->
        <link rel="stylesheet" href="../css/style.css" type="text/css">
    
        <!--Fuentes de Google-->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Battambang:wght@700&family=Josefin+Sans&family=Koulen&family=Lora&family=Nunito:wght@200&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
            </style>
    
    </head>
<body>
    <header>
        <h1 class="title">SiteMakers</h1> <!--Titulo para todos los html-->
        <h2 class="slogan">Diseñamos tu sitio desde cero, y lo subimos a la web.</h2> <!--Slogan para todos los html-->
        
        
        <!--Links-->
        <nav class="links">
            <a href="../index.html">Inicio</a>
            <a href="us.html">Nosotros</a>
            <a href="portfolio.html">Sitios diseñados</a>
            <a href="services.html">Nuestros Servicios</a>
            <a href="contact.html">Contacto</a>   
        </nav>
        
        </header>

    <main>


        <section class="services">
            <h2>Nuestros Servicios</h2>
            <p>Contamos con una amplia variedad de servicios para ayudarte a que tu sitio, sea exactamente lo que buscas, a continuación vas a poder ver lo que tenemos preparado para vos<br>
            Podes seguir Scrolleando para ver los tres tipos de servicios que ofrecemos y tambien de paso disfrutar de una galeria fotográfica con nuestros trabajos y dejarnos tu comentario!</p>
        </section>
        
        <!--Grilla con Tarjetas descriptivas de Servicios-->
        <section class="servgrid">
            
            <div class="boxy1">
            <h3>Planificacion & Desarrollo de sitio web.</h3>
            <p>Contamos con un equipo de desarrolladores profesionales que van a encargarse de asistirte desde el enmaquetado del sitio para que coordines todo el diseño del sitio, Luego procedemos a realizar un enmaquetado junto con un presupuesto en el cual en caso de estar de acuerdo incluira el enmaquetado del sitio, desarrollo, alojamiento y dominio.</p>
            </div>
            <div class="boxy2">
            <h3>Photography Team.</h3>
            <p>Si no estas interesado en contratarnos como desarrolladores, o tenes pensado hacer tu sitio por tu propia cuenta, igualmente nosotros brindamos servicios fotografico para que puedas lucir el mejor contenido y que sea super atractivo y de alta resolucion. Podes mirar algunos de los trabajos de los mejores photographers haciendo click en nuestro Instagram <a href="#footer"> Ver Footer </a></p>
            </div>
            
            <div class="boxy3">
            <h3>Estrategias de Marketing</h3>
            <p>Contamos con las Lic. Claudia y Griselda Copollani, Las hermanas licenciadas mas reconocidas en Argentina que tienen a cargo un departamento Increible de Marketing y te brindan las mejores soluciones para tu compañia, siempre podras intervenir a traves de nosotros por contratos anuales para un mejorado crecimiento de tu empresa</p>
            </div>
        </section>

        <!--Seccion contenedora de Titulos y descripcion de galeria-->
        <section class="galeria-title">
            <h4>Nuestros trabajos</h4>
            <p>Disfruta a continuacion de nuestros mejores trabajos, realizamos desde fotoproducto hasta asesoramiento de Marketing.</p>
        <section class="griddy">
            <div class="box1"></div>
            <div class="box2"></div>
            <div class="box3"></div>
            <div class="box4"></div>
            <div class="box5"></div>
            <div class="box6"></div>
            <div class="box7"></div>
            <div class="box8"></div>
            <div class="box9"></div>
        </section>
        </section>

    </main>

    <footer>
   
        <section id="footer"> <!--Caja Contenedora del Footer-->
            <!--Por separado activamos rights a la izquierda centrado-->
            <p class="rights" >Matias Montenegro - Todos los derechos reservados 2022®</p>
            <!--Redes sociales que tienen que quedar una abajo de la otra por la derecha-->
            <section class="redes">
                <p><img src="../img/icons/icons8-instagram-64.png" alt="instagram icon">Instagram: <a href="https://instagram.com/SiteMakers"> @SiteMakers</a></p>
                <p><img src="../img/icons/icons8-facebook-64.png" alt=" Facebook icon">Facebook: <a href="https://facebook.com/SiteMakers">Site Makers</a></p>
                <p><img src="../img/icons/icons8-twitter-64.png" alt="twitter icon">Twitter: <a href="https://twitter.com/SiteMakers">@SiteMakers</a></p>
                <p><img src="../img/icons/icons8-whatsapp-64.png" alt="Whatsapp icon"><a href="https://api.whatsapp.com/send?phone=5491139224610&text=Hola!, estoy interesado en hablar con un representante." style="display: inline-block; padding:16px; background-color:none ; color: #ffffff; font-size: 16px;">Escribinos por WhatsApp</a></p>
        </section>
    
    </footer>
    

</body>
<!--Importamos JavaScript-->
<script src="../js/app.js" integrity="" crossorigin="anonymous"></script>
</html>