<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--Responsive Tag-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--SEO-->
        <!--Keywords no mas de 5 a 8-->
        <meta name="keywords" content="Desarrollo, Web, Sitio, Conocer, Quienes, Somos, Diseño, Acerca">
        <!--Meta Description-->
        <meta name="description" content="Acerca de nosotros, conocenos mejor para confiar en nuestro servicio.">
        <title>Nosotros - SiteMakers</title>
    
        <!--Vinculamos el MediaQueries-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!--Aplicando el FAVICON.ico-->
        <link rel="apple-touch-icon" sizes="180x180" href="../img/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/icons/favicon-16x16.png">
        <link rel="manifest" href="../img/site.webmanifest">
    
        <!--BootStrap anulado-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
    
        <!--Link de Estilos-->
        <link rel="stylesheet" href="../css/style.css" type="text/css">
    
        <!--Fuentes de Google-->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Battambang:wght@700&family=Josefin+Sans&family=Koulen&family=Lora&family=Nunito:wght@200&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
            </style>
    
    </head>
<body>
    <header>

        <!--Caja contenedora para titulo y Slogan-->
        <h1 class="title">SiteMakers</h1> <!--Titulo para todos los html-->
        <h2 class="slogan">Diseñamos tu sitio desde cero, y lo subimos a la web.</h2> <!--Slogan para todos los html-->
        
        <!--Links-->
        <nav class="links">
            <a href="../index.html">Inicio</a>
            <a href="us.html">Nosotros</a>
            <a href="portfolio.html">Sitios diseñados</a>
            <a href="services.html">Nuestros Servicios</a>
            <a href="contact.html">Contacto</a>   
        </nav>
        
        </header>

    <main>

        <!--Breve texto descriptivo que detalla nuestro compromiso como empresa-->
        <section class="compromiso">
            <h4>Nuestro Compromiso</h4>
            <p>Tenemos el compromiso de cumplir con todos los objetivos que el cliente tenga por delante, con el objetivo de garantizar la eficiencia al 100% del proyecto. <br>
            es por esto mismo que a veces los tiempos de la realizacion completa del sitio varia segun los desafíos a completar por parte del cliente. Lo que si podemos garantizar es que el lapso máximo de nuestros proyectos no deberían superar de dos meses de trabajo.<br>
        Por esto mismo es que brindamos una covertura de meta finalizada... si no logramos cumplir con el objetivo le devolvemos el 50% de la entrega por el inicio del proyecto!</p>
        </section>

        <!--Inicio de Grid-->
        <section class="grilla">
            <!--Cards-->
            <h3 class="one">Quienes somos?</h3>
            <p class="pgo">Somos una pyme nacida de un estudiante de Desarrollo Web Jr. (Matias Javier Montenegro) que se esmero en juntarse con un equipo de profesionales, para poder comenzar a brindar el servicio de creacion de sitio web. <br> Con mucha experiencia nos fuimos capacitando y avanzando para poder convertirnos en lo que hoy somos. Una empresa confiable que brinda los mejores servicios para que tu sitio web sea exactamente lo que esperas!</p>
            <img class="imgo" src="https://www.yoh.com/hubfs/Thoughtful%20young%20programmer%20coding%20on%20computer%20in%20the%20evening%20at%20home.jpeg" alt="guy working">
        
            <h3 class="two">Nuestros certificados nos avalan</h3>
            <p class="pgt">Contamos con muchisima experiencia tras hacer constantes certificaciones en Coderhouse, Asi como tambien en Zoom para servicios de videoconferencias para grandes corporativas, contamos con un altisimo portfolio de imagenes de algunos de los servicios que brindamos como por ejemplo books, y todo lo que necesites para armar tu sitio. <br> Nuestros expertos estan dedicados dia a dia a realizar las mejores tareas para que puedas dedicarte a descansar, que del diseño nos encargamos nosotros mismos (Vas a poder encontrar mucho mas en nuestra seccion de Portfolio, donde vas a ver una galeria dedicada a nuestro trabajo)</p>
            <img class="imgt"src="../img/fakecertif.jpg" alt="fake certificate">
        
            <h3 class="three">Profesionales que trabajan hasta el cansancio</h3>
            <p  class="pgth">Contamos con la mejor gamma de expertos, todos ellos certificados en Coderhouse, siempre fijos en nuestra compañia para que puedas contratar directamente a ellos, para que intermedien con tus necesidades.</p>
            <img class="imgth" src="https://cdn.givingcompass.org/wp-content/uploads/2019/03/26130148/Meet-the-People-Coding-Our-World.jpg" alt="people coding">
        
        
        </section>

    </main>

    <footer>
   
        <section> <!--Caja Contenedora del Footer-->
            <!--Por separado activamos rights a la izquierda centrado-->
            <p class="rights" >Matias Montenegro - Todos los derechos reservados 2022®</p>
            <!--Redes sociales que tienen que quedar una abajo de la otra por la derecha-->
            <section class="redes">
                <p><img src="../img/icons/icons8-instagram-64.png" alt="instagram icon">Instagram: <a href="https://instagram.com/SiteMakers"> @SiteMakers</a></p>
                <p><img src="../img/icons/icons8-facebook-64.png" alt=" Facebook icon">Facebook: <a href="https://facebook.com/SiteMakers">Site Makers</a></p>
                <p><img src="../img/icons/icons8-twitter-64.png" alt="twitter icon">Twitter: <a href="https://twitter.com/SiteMakers">@SiteMakers</a></p>
                <p><img src="../img/icons/icons8-whatsapp-64.png" alt="Whatsapp icon"><a href="https://api.whatsapp.com/send?phone=5491139224610&text=Hola!, estoy interesado en hablar con un representante." style="display: inline-block; padding:16px; background-color:none ; color: #ffffff; font-size: 16px;">Escribinos por WhatsApp</a></p>
        </section>
    
    </footer>
    
</body>
<!--Importamos JavaScript-->
<script src="../js/app.js" integrity="" crossorigin="anonymous"></script>
</html>